[submodule "wp"]
	path = wp
	url = https://github.com/WordPress/WordPress.git
	ignore = dirty
[submodule "content/mu-plugins/de_DE"]
	path = content/mu-plugins/de_DE
	url = git@github.com:bueltge/de_DE.php.git
